{% block stylesheets %}
    <!-- Appel de bibliothèques CSS, Bootstrap, jQuery etc... -->
    <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.3.js" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/defi/css/font-awesome.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/defi/css/bootstrap.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/defi/css/bootsrap-theme.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/defi/css/stylesheet.css') }}" type="text/css" />
{% endblock %}

{% block body %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style type="text/css">
        html { height: 100% }
    </style>

    <div class="header-fixed">
        <!-- Affichage du burger -->
        <div class="mobilenav">
            <li><a href="{{ path('defi_homepage') }}"><i class="fa fa-home"></i>&nbsp; Accueil</a></li>
            <li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user"></i>&nbsp; Mon profil</li></a>
            <li><a href="{{ path('defi_liste_sports') }}"><i class="fa fa-gamepad"></i>&nbsp; Défis tes amis</li></a>
            <li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-trophy"></i>&nbsp; Trophées</li></a>
            <li><a href="#"><i class="fa fa-users"></i>&nbsp; Communauté</a></li>
        </div>

        <!-- Fonction Javascript pour l'affichage des barres du Burger -->
        <a href="javascript:void(0)" class="icon">
            <div class="hamburger">
                <div class="menui top-menu"></div>
                <div class="menui mid-menu"></div>
                <div class="menui bottom-menu"></div>
            </div>
        </a>

        <h1>GoGame</h1>
    </div>


    <!-- Affichage des photos de profil -->
    <div class="photo-profil">
        <img src="{{ user.photoProfil }}" title="Avatar de mon profil !" alt="Mon avatar" />
    </div>

    <br />
    <div class="modifier-profil">
        <a href="{{ 'edit' }}"><span>Modifier mon profil !</span></a>
    </div>
    <br />


    <!-- Accordéon Bootstrap -->
    <div class="accordion" id="myAccordion">
        <div class="panel">
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#collapsible-1" data-parent="#myAccordion"><i class="fa fa-user"></i>&nbsp; Informations générales :</button>
            <div id="collapsible-1" class="collapse">
                    <i class="fa fa-user user" aria-hidden="true">Mes informations :</i>
                    <br /> Pseudonyme: {{ user.pseudo }}
                    <br /> Sexe : {{ user.sexe }}
                    <br /> Date de naissance : {{ user.dateNaissance|date('d-m-Y') }}
                    <br /> Centres d'intêrets :

            </div>
        </div>
        <div class="panel">
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#collapsible-2" data-parent="#myAccordion"><i class="fa fa-gamepad"></i>&nbsp; Mes défis en cours :</button>
            <div id="collapsible-2" class="collapse">
                    <i class="fa fa-trophy" aria-hidden="true">Mes défis en cours</i>
                    <br /> Liste des défis !
            </div>
        </div>
        <div class="panel">
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#collapsible-3" data-parent="#myAccordion"><i class="fa fa-trophy"></i>&nbsp; Mes trophées :</button>
            <div id="collapsible-3" class="collapse">
                <div class="container">
                    <div class="row>"
                        <div class="col-xs-12">
                            <img class="image-trophees" src="{{ asset('bundles/defi/img/coupebronze.png') }}" title="Coupe de bronze !" />
                            <button type="button" class="btn btn-danger bouton_trophees" data-container="body" data-toggle="popover" data-placement="right" data-content="Remportez 5 rencontres !">Bronze</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <img class="image-trophees" src="{{ asset('bundles/defi/img/coupeargent.png') }}" title="La coupe d'argent !" />
                            <button type="button" class="btn btn-danger bouton_trophees" data-container="body" data-toggle="popover" data-placement="right" data-content="Remportez 25 rencontres !">Argent</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <img class="image-trophees" src="{{ asset('bundles/defi/img/coupeor.png') }}" title="Coupe en Or !" />
                            <button type="button" class="btn btn-danger bouton_trophees" data-container="body" data-toggle="popover" data-placement="right" data-content="Remportez 255 rencontres !">Or</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- Script pour la géolocalisation -->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript">

        var previousPosition = null;

        function initialize()
        {
            map = new google.maps.Map(document.getElementById("map_canvas"),
                    {
                        zoom: 19,
                        center: new google.maps.LatLng(48.858565, 2.347198),
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    });
        }

        if (navigator.geolocation)
            var watchId = navigator.geolocation.watchPosition(successCallback, null, {enableHighAccuracy:true});
        else
            alert("Votre navigateur ne prend pas en compte la géolocalisation HTML5");

        function successCallback(position)
        {
            map.panTo(new google.maps.LatLng(position.coords.latitude, position.coords.longitude));
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
                map: map
            });
            if (previousPosition){
                var newLineCoordinates = [
                    new google.maps.LatLng(previousPosition.coords.latitude, previousPosition.coords.longitude),
                    new google.maps.LatLng(position.coords.latitude, position.coords.longitude)];

                var newLine = new google.maps.Polyline({
                    path: newLineCoordinates,
                    strokeColor: "#FF0000",
                    strokeOpacity: 1.0,
                    strokeWeight: 2
                });
                newLine.setMap(map);
            }
            previousPosition = position;
        };
    </script>
    <!-- Fin du script pour la géolocalisation -->

    <!-- Appel des scripts -->
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="{{ asset('bundles/defi/js/index.js') }}"></script>
    <script src="{{ asset('bundles/defi/js/bootstrap.min.js') }}"></script>
    <script>$("[data-toggle=popover]").popover();</script>
 {% endblock %}

