{% block stylesheets %}
    <!-- Appel de bibliothèques CSS, Bootstrap, jQuery etc... -->
    <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.3.js" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/defi/css/font-awesome.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/defi/css/bootstrap.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/defi/css/bootsrap-theme.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/defi/css/stylesheet.css') }}" type="text/css" />
{% endblock %}

{% block body %}
    <!-- Affichage du burger -->
    <div class="mobilenav">
        <li><a href="#"><i class="fa fa-home"></i>&nbsp; Accueil</a></li>
        <li><a href="#"><i class="fa fa-user"></i></a>&nbsp; Mon profil</li>
        <a href="{{ path('defi_liste_sports') }}"><li><i class="fa fa-gamepad"></i>&nbsp; Défis tes amis</li></a>
        <li><a href="#"><i class="fa fa-trophy"></i></a>&nbsp; Trophées</li>
        <li><a href="#"><i class="fa fa-users"></i></a>&nbsp; Communauté</li>
    </div>

    <!-- Fonction Javascript pour l'affichage des barres du Burger -->
    <a href="javascript:void(0)" class="icon">
        <div class="hamburger">
            <div class="menui top-menu"></div>
            <div class="menui mid-menu"></div>
            <div class="menui bottom-menu"></div>
        </div>
    </a>

    <h1>GoGame</h1>


    <div class="col-xs-12 text-center les_challengers">
        <h4>Challengers pour le tennis de table :</h4>
    </div>

    <div class="liste_challengers">
        <div class="row">
            {% for listechallenger in listechallenger %}
                <div class="col-xs-12">
                    <img class="image_challenger" src="{{ listechallenger.photoProfil }}" />
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-gamepad"></i>&nbsp;Défier {{ listechallenger.pseudo }}</button>
                </div>
            {% endfor %}
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title rainbow" id="gridSystemModalLabel">C'est l'heure du Du-du-duel !</h4>
                    <small><i>Que le glas de la révolution sonne, écrasez votre adversaire !</i></small>
                </div>
                <div class="modal-body">
                <p>
                    <p>
                        Etes-vous sur de bien vouloir lancer un duel ?
                        [ATTENTION : Ce choix vous engage à mort et est irréversible.]
                    </p>
                    <a href="#"><button type="button" class="btn btn-success"><i class="fa fa-gamepad"></i> DUEL !</button></a>
                    <a href="{{ 'challengers' }}"><button type="button" class="btn btn-danger">Annuler</button></a>
                </p>
                </div>
                <div class="modal-footer codystar center">
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- Fin Modal -->
{% endblock %}



<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="{{ asset('bundles/defi/js/index.js') }}"></script>
<script src="{{ asset('bundles/defi/js/bootstrap.min.js') }}"></script>