<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}GoGame{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/defi/css/bootstrap.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/defi/css/bootsrap-theme.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/defi/css/stylesheet.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/defi/css/stylesheet.css') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {% endblock %}

{% block body %}
    <h1>GoGame</h1>
<div class="mobilenav">
    <li><a href="#"><i class="fa fa-home"></i>&nbsp; Accueil</a></li>
    <li><a href="#"><i class="fa fa-user"></i></a>&nbsp; Mon profil</li>
    <li><a href="#"><i class="fa fa-gamepad"></i></a>&nbsp; Défis tes amis</li>
    <li><a href="#"><i class="fa fa-trophy"></i></a>&nbsp; Trophées</li>
    <li><a href="#"><i class="fa fa-users"></i></a>&nbsp; Communauté</li>
</div>

<a href="javascript:void(0)" class="icon">
    <div class="hamburger">
        <div class="menui top-menu"></div>
        <div class="menui mid-menu"></div>
        <div class="menui bottom-menu"></div>
    </div>

</a>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<script src="{{ asset('bundles/defi/js/index.js') }}"></script>
{% endblock %}
{% block javascripts %}{% endblock %}


</html>
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
    <input type="password" id="password" name="_password" required="required" />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
</form>
{% endblock fos_user_content %}
